﻿<%@ Master Language="C#" MasterPageFile="~/App.master" %>

<asp:Content ContentPlaceHolderID="head" Runat="Server">
	<asp:ContentPlaceHolder ID="head" runat="server" />
	<link href="<%= Application["AppPath"] %>/RV-Insurance-Coverage/_Section.css" rel="stylesheet" />
	<script type="text/javascript">
		$(document).ready(function() {
			$('#Tab3').addClass("selected");
		});
	</script>
	<style type="text/css">
		.text {
			position: absolute;
			top: 90px;
			left: 50px;
			width: 380px;
		}
	</style>
</asp:Content>
<asp:Content ContentPlaceHolderID="main" Runat="Server">
	<div class="content">
		<div class="stuff"> 
			<div id="SectionNavMenu">
				<div><a href="<%= Application["AppPath"] %>/rv-insurance-coverage/default.aspx" id="Overview">Overview</a></div>
				<div><a href="<%= Application["AppPath"] %>/rv-insurance-coverage/innovative" id="Innovative">Innovative RV Insurance</a></div>
				<div><a href="<%= Application["AppPath"] %>/rv-insurance-coverage/specialty" id="Specialty">Specialty RV Insurance</a></div>
				<div><a href="<%= Application["AppPath"] %>/rv-insurance-coverage/standard" id="Standard">Standard RV Insurance</a></div>
			</div>
			<div class="background_image">
				<asp:ContentPlaceHolder ID="background_image" runat="server" />
			</div>
			<div class="text">
				<h1>
					<asp:ContentPlaceHolder ID="main_title" runat="server" />
				</h1>
				<asp:ContentPlaceHolder ID="main_details" runat="server" />

				<div id="Disclaimer">
					Not all coverages are available in all states. Coverage descriptions are just summary descriptions of the coverage; they
are not intended to replace the policy that is provided to you. Coverages, limits and vehicle eligibility can be different
from state to state.
				</div>

				<asp:ContentPlaceHolder ID="section_submenu" runat="server" />
			</div>
		</div>
	</div>
</asp:Content>