
html, body.bluesky
{
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
}
section
{
	background-color:#ffffff;
}
li
{
	list-style: outside;
    margin-left: 1rem;
}
.emailMe, .callMe
{
display:none;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
  
.bluesky p
{
	margin:0;
	padding:0;	
}
#main_pnlErrors .floatingPanelContentText
{

    color: red;
}
#main_cmdFloatClose
{
    float:right;
}
.alert
{
	color: red;
    font-weight: bold;
}
.warning
{
	color: blue;
    font-weight: bold;
}
.bluesky section p {
	-webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.bluesky .section .row p, .bluesky .section.hero p, .bluesky section p {
    margin-bottom: 2.5rem !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #004990;
  	margin-top: 0;
  	margin-bottom: 2rem;
  	}
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
.features h4
{
	margin-top: 2rem;
}

.headline_center
{
	text-align: center;
}	
img
{
	border: 0;
	-webkit-transition: size .15s ease-in-out;
	-moz-transition: size .15s ease-in-out;
	-ms-transition: size .15s ease-in-out;
	-o-transition: size .15s ease-in-out;
	transition: size .15s ease-in-out;
}
.button
{
	color:#004990;
    border-color: #004990;
}
.button:hover
{
	color:#1EAEDB;
    border-color: #1EAEDB;
}
iframe
{
	display:none;
}
.small
{
	font-size: 85%;
}
.datepicker 
{
  background-image: url('../images/calendar.png');
  background-repeat: no-repeat;
  background-position: right;
 }
 .price
 {
  background-image: url('../images/dollar_sign.png');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 24px !important;
 }
 .header_text_disclaimer
 {
     font-style:italic;
     font-size:1.2rem;
 }
 .floatingPanel
 {
     border: 1px dotted red;
     padding:2rem;
 }
#main_cmdFloatClose
 {
    float: right;
    color: red;
    border-color: red;
    padding: 6px;
    height: auto;
    line-height:1em;
    font-weight:900;
 }

/*-------- Navbar  START --------*/
.navigation
{
	border-bottom: 1px solid #a9a9a9	;
}
nav
{
	margin-top:4rem;
	border-top:#ccc 1px dashed;
	/*width:100%;*/
	clear:both;
}

nav ul
{
	list-style: none;
	margin-bottom: 0; 
	float:left;
	width:50%;
}
nav ul li 
{
	width:100%;
	position: relative;
	float: left;
	margin-bottom: 0; 
    list-style: none;
}
nav ul li a
{
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: .5rem 1rem;
	text-decoration: none;
	line-height: 3.5rem;
	color: #345184;
	width:100%;
	display:block;
	-webkit-transition: color .15s ease-in-out, padding .15s ease-in-out;
	-moz-transition: color .15s ease-in-out, padding .15s ease-in-out;
	-ms-transition: color .15s ease-in-out, padding .15s ease-in-out;
	-o-transition: color .15s ease-in-out, padding .15s ease-in-out;
	transition: color .15s ease-in-out, padding .15s ease-in-out;
}
nav ul li a:active, nav ul li a:hover
{
	color: #28bbba; 
}
nav ul li a.active
{
	color: #28bbba; 
    text-decoration: underline;
}
.nav-toggle
{
	width: 15%;	
	float: right;
	margin-top: 2.8rem;
	height:4rem;
	width:4rem;
	display:block;
	background:url('../images/menu_btn.png') no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.logo-wrap  
{
	width: 100%;
  	box-sizing: border-box;
}
.logo-wrap
{
	width: 129px;
	float: left;	
	margin: .8rem 0;
}
.logo-wrap img
{
	width:119px;
}

.facebook-header img
{
	max-width:2.5rem;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
.facebook-header img:hover
{
	opacity:.8;
}
/*-------- Navbar  END --------*/




/*-------- Footer  START --------*/
footer
{
	background:#004990;
	color:#ffffff;
}
footer p
{
	font-size: 1.2rem;
	line-height:1.4rem;
}
footer hr
{
	margin:1rem 0 2rem 0;
	background-color:#2966a2;
	border-width:0;
	color:#2966a2;
	height:1px;
	line-height:0;

}
footer .row .two .u-max-full-width
{
	margin-bottom:1rem;
}
.google_icon
{
	margin-right:1rem;
}
.facebook_icon, .google_icon
{
	width: 70%;
	max-width:3rem;
}
.social
{
	padding-top: 1.8rem; 
	text-align:center
}
/*-------- Footer  END --------*/






/*-------- General Sections - Stories START --------*/
.grey
{
	background-color: #e1e1e1;
	padding: 3% 0 2.5% 0;	
}
.full_background
{
	background: no-repeat center top; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.shadow
{
	background-image: url('../images/shadow.png');
	background-repeat: no-repeat;
	background-position: top center;
}
/*-------- General Sections - Stories END --------*/





/*-------- Home START --------*/

/*----Hero----*/
.hero_story
{
	margin: 2rem 0 0 0;	
	
}
#postcard-hero
{
	margin: 0 0 -3rem 0; 
}
/*----Innovative----*/
.innovate, .about
{
	padding-top:4rem;	
}









/*-------- Vehicles Hero Story START --------*/

.scenic_background
{
	background-color: #dae6a6;
	padding:14.5rem 0 2rem 0;
	color:#ffffff;
}
.bluesky .scenic_background div p:first-of-type
{
	margin-top: 0;
    padding-bottom:1rem;
}
.scenic_background h3
{
	color:#ffffff;
	text-align:center;
	margin:2rem 0 0 0;
}
.scenic_background h4
{
	color:#ffffff;
	text-align:center;
	margin:2rem 0;
}
.scenic_background h5
{
	color:#ffffff;
	text-align:center;
    margin:0 0 .2rem 0;
}

.bl_trans_bg
{
	width:100%;
	background-color:rgba(0,0,0,0.5);
}


/*-------- Vehicles Hero Story END --------*/


.clouds_mountain
{
    background-image:url('../images/mountain_background.jpg');
}


/* Larger than phone */
@media (min-width: 550px) {
	.first
    {
    margin-left:0;
    }
	/*-------- General Sections - Stories START --------*/
	.grey
	{
		padding: 3% 0 2.5% 0;	
	}
	/*-------- General Sections - Stories END --------*/


	
	/*----Innovative----*/
	.innovate, .about
	{
		padding:6rem 0;	
	}
	


}


/* Larger than tablet */
@media (min-width: 750px) {
	
}


/* Start of normal navbar */
@media (min-width: 860px) {
/*-------- Navbar  START --------*/
    nav
	{
		margin-top:-4rem;
		border-top:none;
		width:auto;
		float:right;
	}
	nav ul
	{
		float:left;
		width:auto;
	}
	nav ul li a 
	{
		width:auto;
		font-size: 1.4rem;
		padding: .7rem; /* Fix for overlapping logo and navbar */
	}
	nav ul li 
	{
		width:auto;
		display:inline-block; 
	}
	
/*-------- Navbar  END --------*/


}

/* Adds spacing back into navbar  */
@media (min-width: 930px) {
	/*-------- Navbar  START --------*/
	nav ul li a 
	{
		padding: .5rem 1rem;
	}

}





