﻿div.floatingPanelContentStop, div.home_logo a, div.menu_bg, div.rfq_content, div.rfq_footer, div.home_footer, div.container_content, div.container_footer {
	behavior: url('iepngfix.htc');
}

BODY {
	font-family: "myriad-pro","Arial",sans-serif;
	text-align: center;
	background-color: #388bad;
	background-image: url('../images/main_bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 15px;
	font-weight: normal;
}

a {
	color: #016DB5;
	font-weight: bold;
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	font-family: "myriad-pro-condensed","Arial Narrow",sans-serif;
	line-height: 90%;
}

h1 {
	margin-bottom: 14px;
}

.common_button {
	width: 90px;
}

div.floatingCore {
	background-color: #000000;
	cursor: not-allowed;
	filter: alpha(opacity=50);
	height: 100%;
	left: 0px;
	position: absolute;
	opacity: 0.5;
	top: 0px;
	width: 100%;
	-moz-opacity: 0.5;
	z-index: 1000;
}

div.floatingPanel {
	color: #000000;
	cursor: default;
	margin: 0px auto;
	padding-bottom: 5px;
	width: 369px;
}

div.floatingPanelBottom {
	background-image: url('../images/error_window_bottom.png');
	background-repeat: no-repeat;
	height: 61px;
	padding-top: 15px;
	width: 369px;
}

div.floatingPanelHeader {
	background-image: url('../images/error_window_top.png');
	background-repeat: no-repeat;
	height: 54px;
	width: 369px;
}

div.floatingPanelHeaderAlt {
	background-image: url('../images/error_window_top_alt.png');
	background-repeat: no-repeat;
	height: 54px;
	width: 369px;
}

div.floatingPanelContent {
	background-image: url('../images/error_window_tile.png');
	background-repeat: repeat-y;
	min-height: 108px;
	text-align: left;
	width: 369px;
}

div.floatingPanelContentStop {
	background-image: url('../images/error_window_stop.png');
	background-repeat: no-repeat;
	height: 96px;
	margin-left: 288px;
	margin-top: 12px;
	position: absolute;
	width: 56px;
}

div.floatingPanelContentText {
	color: #4D4D4D;
	font-size: 12px;
	margin-left: 22px;
	padding-top: 18px;
	text-align: left;
	width: 250px;
}

div.floatingPanelContentTextAlt {
	font-family: "myriad-pro","Arial",sans-serif;
	color: #4D4D4D;
	font-size: 12px;
	margin-left: 22px;
	padding-top: 18px;
	text-align: left;
	width: 325px;
}

div.printPanel {
	margin-top: -10px;
	position: absolute;
	text-align: left;
}

table.floatingTable {
	cursor: not-allowed;
	/*height: 100%;*/
	left: 0px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 100%;
	z-index: 1001;
}

.super_container {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 987px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}



/*--added new layout 8.25.09 dhowe--*/

.page {
	position: relative;
	width: 987px; /* put the total with of that site */
	text-align: left;
	margin: 0 auto -80px;
}

.container_top {
	height: 113px;
	width: 987px;
	z-index: 999;
	/*background-color:Green;*/
}

.content {
	background-image: url('../images/content_bg.png');
	background-repeat: repeat-y;
	width: 987px;
	min-height: 466px;
	z-index: 200;
}

.footer {
	position: relative;
	width: 987px;
	margin: 0 auto 40px auto;
	color: #fff;
	background: url('../images/footer_bg.jpg') no-repeat;
	display: block;
	padding: 30px 0;
	height: auto;
	font-size: 13px;
	line-height: 18px;
}

	.footer p {
		position: absolute;
		left: 0;
		bottom: 2px;
		width: 987px;
		text-align: center;
		line-height: 14px;
	}

	.footer a {
		color: #fff;
		text-decoration: none;
		font-weight: normal;
	}

		.footer a:hover {
			color: #fff;
			text-decoration: underline;
		}

	.footer h2, .footer h2 a {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 6px;
		text-shadow: #333 1px 1px;
	}

	.footer table td {
		padding: 0 20px;
		white-space: nowrap;
		vertical-align: top;
	}

.menu_bg {
	position: absolute;
	left: 0px;
	top: 56px;
	width: 987px;
	height: 57px;
	background-image: url('../images/menu_bg.png');
	background-repeat: no-repeat;
	z-index: 999;
}

.menu_container {
	position: relative;
	top: 9px;
	left: 213px;
	width: 761px;
	height: 46px;
	display: block;
	/*background-color:Gray;*/
}
/*--end--*/



/* home page */

.home_logo {
	z-index: 999;
}

	.home_logo a {
		position: relative;
		left: 20px;
		top: -5px;
		width: 154px;
		height: 94px;
		background-image: url('../images/bluesky_logo.png');
		background-repeat: no-repeat;
		z-index: 1000;
		display: block;
	}


.home_banner_container {
	position: absolute;
	left: 358px;
	top: 560px;
	height: 77px;
	padding-bottom: 20px;
}

.quote_banner_left {
	position: absolute;
	display: block;
	top: 385px;
	left: 45px;
	width: 190px;
	height: 77px;
	background-image: url('../images/home_banner_bg.jpg');
	background-repeat: no-repeat;
	padding-left: 10px;
	cursor: pointer;
}

.quote_banner_right_pen {
	position: absolute;
	left: 5px;
	top: 10px;
	display: block;
	width: 47px;
	height: 53px;
	background-image: url('../images/check_box_off.jpg');
	background-repeat: no-repeat;
}

.quote_banner_right_text {
	position: absolute;
	left: 55px;
	top: 10px;
	width: 120px;
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
}

.home_banner {
	float: left;
	display: block;
	width: 190px;
	height: 77px;
	background-image: url('../images/home_banner_bg.jpg');
	background-repeat: no-repeat;
	padding-left: 10px;
	cursor: pointer;
}

.home_banner2 {
	float: left;
	display: block;
	width: 190px;
	height: 77px;
	background-image: url('../images/home_banner_bg2.jpg');
	background-repeat: no-repeat;
	padding-left: 10px;
	cursor: pointer;
}

.home_banner_text {
	position: relative;
	left: 55px;
	top: -40px;
	width: 100px;
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
}


.home_banner_checkBox {
	position: relative;
	left: 0px;
	top: 10px;
	display: block;
	width: 47px;
	height: 53px;
	background-image: url('../images/check_box_off.jpg');
	background-repeat: no-repeat;
}

.home_banner_checkBox_selected {
	position: relative;
	left: 0px;
	top: 10px;
	display: block;
	width: 47px;
	height: 53px;
	background-image: url('../images/check_box_on.jpg');
	background-repeat: no-repeat;
}

.home_banner_badge {
	position: relative;
	left: 0px;
	top: 10px;
	display: block;
	width: 37px;
	height: 51px;
	background-image: url('../images/i_off.jpg');
	background-repeat: no-repeat;
}

.home_banner_badge_selected {
	position: relative;
	left: 0px;
	top: 10px;
	display: block;
	width: 37px;
	height: 51px;
	background-image: url('../images/i_on.jpg');
	background-repeat: no-repeat;
}

.home_banner_news {
	position: relative;
	left: 0px;
	top: 10px;
	display: block;
	width: 51px;
	height: 53px;
	background-image: url('../images/news_off.jpg');
	background-repeat: no-repeat;
}

.home_banner_news_selected {
	position: relative;
	left: 0px;
	top: 10px;
	display: block;
	width: 51px;
	height: 53px;
	background-image: url('../images/news_on.jpg');
	background-repeat: no-repeat;
}
/* end home page */

.top_corners {
	top: 113px;
	height: 50px;
	width: 987px;
	background-image: url('../images/top_corners.png');
	background-repeat: no-repeat;
	z-index: 50;
}

.stuff {
	position: relative;
	top: 0px;
}


/* bottom menu */

.horizontal_line {
	display: block;
	width: 975px;
	height: 1px;
	background-image: url('../images/horizontal_line.jpg');
	background-repeat: no-repeat;
}


/* sub pages */
.main_content_container {
	position: absolute;
	top: 116px;
	left: 22px;
	width: 967px;
	height: 460px;
	display: block;
	/*background-color:Gray;*/
}

.company_info {
	margin-top: 0px;
	margin-left: 5px;
	display: block;
	width: 975px;
	background-repeat: no-repeat;
	height: 480px;
}

.company_info2 {
	margin-top: 0px;
	margin-left: 5px;
	display: block;
	width: 975px;
	background-repeat: no-repeat;
	height: 850px;
}

.company_info3 {
	margin-top: 0px;
	margin-left: 5px;
	display: block;
	width: 975px;
	background-repeat: no-repeat;
	height: 700px;
}

.company_info4 {
	margin-top: 0px;
	margin-left: 5px;
	display: block;
	width: 975px;
	background-repeat: no-repeat;
	height: 1300px;
}

.header {
	position: absolute;
	display: block;
	left: 11px;
	top: 6px;
	width: 451px;
	height: 66px;
}

.header_text {
	position: absolute;
	top: 88px;
	left: 50px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #033485;
	margin: 0px 0px 0px 0px; /*top-right-bottom-left*/
}

.header_Quote_Thanks_text {
	position: absolute;
	top: 60px;
	left: 50px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #033485;
	margin: 0px 0px 0px 0px; /*top-right-bottom-left*/
}



.header_text_disclaimer {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	width: 640px;
}
#Disclaimer 
{
    font-size: 12px;
	font-weight: normal;
	font-style: italic;
}
.bluesky_pic {
	position: absolute;
	display: block;
	left: 463px;
	top: 0px;
}

.company_text {
	position: absolute;
	top: 110px;
	left: 50px;
	width: 380px;
	text-decoration: none;
	color: #707070;
	padding: 0px 0px 0px 0px; /*top-right-bottom-left*/
	line-height: 13px;
}

	.company_text a {
		font-weight: bold;
		text-decoration: underline;
		color: #016db5;
	}

		.company_text a:hover {
			color: #707070;
		}

.company_link a {
	position: absolute;
	top: 410px;
	left: 50px;
	display: block;
	text-decoration: none;
	color: #3186a9;
}

	.company_link a:hover {
		color: #707070;
	}


.company_link2 a {
	position: absolute;
	top: 410px;
	left: 200px;
	display: block;
	text-decoration: none;
	color: #3186a9;
}

	.company_link2 a:hover {
		color: #707070;
	}


.license_number2 {
	position: absolute;
	left: 100px;
}

.vehicle_pic {
	position: absolute;
	top: 2px;
	left: 560px;
	width: 420px;
	height: 320px;
	display: block;
}


.back_next {
	position: absolute;
	top: 237px;
	left: 33px;
	width: 150px;
	height: 19px;
	display: block;
}

#back a {
	float: left;
	display: block;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #3186a9;
	padding-right: 17px;
	/*background-image: url('../images/back_off.jpg');	
	background-repeat:no-repeat;*/
}

#next a {
	float: left;
	display: block;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #3186a9;
	padding-left: 17px;
	/*background-image: url('../images/next_off.jpg');	
	background-repeat:no-repeat;*/
}





/* contact page	*/

.contact_text {
	position: absolute;
	top: 234px;
	left: 725px;
	width: 170px;
	text-decoration: none;
}

	.contact_text a {
		text-decoration: underline;
		color: #3186a9;
	}

		.contact_text a:hover {
			color: #003e7e;
		}

.contact_text2 {
	position: absolute;
	top: 180px;
	left: 460px;
	width: 250px;
	text-decoration: none;
}


/* claims text */

.claims_text {
	position: absolute;
	top: 80px;
	left: 50px;
	width: 380px;
	text-decoration: none;
	color: #707070;
	line-height: 15px;
}

.claims_header {
	position: relative;
	font-weight: bold;
	text-decoration: none;
	color: #3186a9;
	padding: 5px 0px 5px 0px; /*top-right-bottom-left*/
}

.claims_items {
	margin-left: -40px;
	line-height: 18px;
}

	.claims_items ul {
		margin-top: 0px;
		list-style-type: none;
		list-style-image: url('../images/claims_arrow.jpg');
		margin-bottom: 10px;
	}

	.claims_items li {
		margin-top: 0px;
	}

		.claims_items li a {
			text-decoration: underline;
			color: #3186a9;
		}


			.claims_items li a:hover {
				color: #003e7e;
			}

.claims_text2 {
	position: absolute;
	top: 8px;
	left: 488px;
	width: 370px;
	text-decoration: none;
	color: #707070;
}

.claims_items ol {
	margin-top: 0px;
	margin-bottom: 10px;
}

	.claims_items ol li {
		margin-bottom: 8px;
		line-height: 15px;
	}

/* default page */

.home_text {
	position: absolute;
	top: 130px;
	left: 570px;
	width: 375px;
	text-decoration: none;
	color: #5f5956;
}

.home_text_header {
	width: 375px;
	font-size: 20px;
	text-decoration: none;
	color: #3186a9;
	text-align: center;
}

.quoteBanner {
	position: absolute;
	top: 440px;
	left: 38px;
	width: 308px;
	height: 123px;
	background-color: #ebd8c1;
	display: block;
	background-image: url('../images/quoteBanner_off.jpg');
	background-repeat: no-repeat;
}

	.quoteBanner a {
		display: block;
		width: 308px;
		height: 123px;
		background-image: url('../images/quoteBanner_off.jpg');
		background-repeat: no-repeat;
	}

		.quoteBanner a:hover {
			background-image: url('../images/quoteBanner_on.jpg');
			background-repeat: no-repeat;
		}


/* coverage pages */

.coverages_text {
	position: absolute;
	top: 72px;
	left: 50px;
	width: 380px;
	text-decoration: none;
	color: #707070;
	text-align: left;
	line-height: 16px;
}

.coverages_header {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #033485;
	margin-bottom: 10px;
}



/* rfq css */

.rfq_content {
	background-image: url('../images/rfq_bg.png');
	background-repeat: repeat-y;
	width: 987px;
	padding-bottom: 10px;
	min-height: 596px;
	z-index: 200;
}

.rfq_footer {
	position: relative;
	width: 987px;
	margin: 0 auto;
	color: #b9a89b;
	background-image: url('../images/rfq_footer_bg.jpg');
	background-repeat: no-repeat;
	/*background-color:Gray;*/
	display: block;
}

.rfq_footer2 {
	position: absolute;
	top: 495px;
	width: 987px;
	margin: 0 auto;
	color: #b9a89b;
	background-image: url('../images/rfq_footer_bg.jpg');
	background-repeat: no-repeat;
	/*background-color:Gray;*/
	display: block;
}

.rfq_container {
	/*position:absolute;
	top:125px;
	left:40px;*/
	margin-top: -225px;
	margin-left: 40px;
	width: 900px;
	text-decoration: none;
	color: #707070;
	/*background-color:Green;*/
}

.rfq_container_2 {
	/*position:absolute;
	top:125px;
	left:40px;*/
	margin-top: -320px;
	margin-left: 40px;
	width: 900px;
	padding-top: 10px;
	text-decoration: none;
	color: #707070;
	/*background-color:Green;*/
}

.rfq_container_3 {
	/*position:absolute;
	top:125px;
	left:40px;*/
	margin-top: -455px;
	margin-left: 40px;
	width: 900px;
	padding-top: 10px;
	text-decoration: none;
	color: #707070;
	/*background-color:Green;*/
}

.rfq_container_4 {
	/*position:absolute;
	top:125px;
	left:40px;*/
	margin-top: -300px;
	margin-left: 40px;
	width: 900px;
	padding-top: 10px;
	text-decoration: none;
	color: #707070;
	/*background-color:Green;*/
}

.rfq_text_field {
	text-decoration: none;
	color: #707070;
}

.rfq_container div {
	padding: 8px 5px 8px 0px; /*top-right-bottom-left*/
}

.applicant_container {
	padding: 0px 0px 0px 0px; /*top-right-bottom-left*/
}

.mailing_address_container {
	padding: 0px 0px0px 0px; /*top-right-bottom-left*/
}


.driver_info_container {
	margin: 0px 0px 0px 5px; /*top-right-bottom-left*/
}

.rfq_title {
	font-weight: bold;
	text-decoration: none;
	color: #3186a9;
	margin: 0px 0px -5px 0px; /*top-right-bottom-left*/
}

.driver_vLine {
	border-left-color: Gray;
	border-left-style: solid;
	border-left-width: 1px;
	height: 280px;
	float: left;
}

div.driver_hLine {
	border-top-color: #c2eceb;
	border-top-style: solid;
	border-top-width: 1px;
	width: 550px;
	padding: 0px 0px 0px 0px; /*top-right-bottom-left*/
	font-size: 11px;
	text-decoration: none;
	color: #707070;
}

a.ContestLink {
	background: #19789e;
	padding: 20px;
	display: block;
	width: 880px;
	color: #fff;
	text-decoration: none;
	position: absolute;
	border: 1px solid #000;
	margin: 0px auto;
	font-weight: normal;
	-moz-box-shadow: 2px 2px 10px #000;
	-webkit-box-shadow: 2px 2px 10px #000;
	box-shadow: 2px 2px 10px #000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

	a.ContestLink h1 {
		text-shadow: 0 1px 8px #000;
		margin: 0px;
		font-size: 36px;
	}

	a.ContestLink strong {
		font-weight: bold;
	}

	a.ContestLink span {
		font-size: 12px;
		position: absolute;
		bottom: 10px;
		right: 10px;
		cursor: pointer;
	}

	a.ContestLink:hover {
		background: #2c86ae;
	}

	a.ContestLink div#Prizes {
		background: #fff;
		border: 1px solid #000;
		display: block;
		color: #000;
		padding: 10px;
		margin: 10px;
		margin-bottom: 0;
		width: 230px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
	}

.hintanchor
{ /*CSS for link that shows hint onmouseover*/
    background-color: #4584a8;
    border-radius: 30px;
    color: white !important;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    width: 16px;
}

input[type="submit"].hintanchor
{ /*CSS for link that shows hint onmouseover*/
    background-color: #4584a8;
    border-radius: 30px;
    border: none;
    color: white !important;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    width: 16px;
    padding: 0 !important;
    min-height: inherit;
    box-shadow:none;
    background-image:none;
    vertical-align: inherit;
}



/**********CONTACT FORM*************/
.roundedInput
{
	width: 475px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; /* future proofing */
	-khtml-border-radius: 8px; /* for old Konqueror browsers */
	font-size:16px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline:none;
	padding: 10px;
	margin:0;
	border: 1px solid #B1B0B0;
}
.quickForm input[type=text]:focus, .roundedInput:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 10px;
	margin:0;
	border: 1px solid rgba(81, 203, 238, 1);
}
.fullwidthInput
{
	width: 455px;
}
.halfwidthInput
{
	width: 215px;
}
.quaterwidthInput
{
	width: 105px;
}
.roundedInput option
{
	margin-bottom:10px;
}
.quickForm tr
{
	margin-bottom: 5px;
  	display: block;
}
input.btn
{
	font-family: myriad-pro-condensed, 'Arial Narrow', sans-serif;
	cursor: pointer;
	display: inline-block;
	position: relative;
	outline: 0; 
	vertical-align: top;
	margin: 5px 5px 0 5px;
	padding: 7px 17px;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(140,140,140,1);
	-moz-box-shadow: 3px 3px 0px 0px rgba(140,140,140,1);
	box-shadow: 3px 3px 0px 0px rgba(140,140,140,1);
	white-space: nowrap;
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight:bold;
	transition: 0.1s;
}
input.blue
{
	background: #2480a5;
	border: 5px solid #2480a5 !important;
	text-shadow: 0px 0px 8px rgba(10, 90, 122, 1);
}
input.green
{
	background: #00a651;
	border: 5px solid #00a651 !important;
	text-shadow: 0px 0px 8px rgba(0, 121, 59, 1);
}
input.btn:hover, input.btn:focus
{
	background: white;
	color: #333 !important;
	text-decoration: none;
	text-shadow:none;
}
input.btn:active
{
	transform: translate(1px, 3px);
	box-shadow: inset 0 100px 0 0 #ffffff;
	color: #1C3864 !important;
	text-decoration: none;
}
#main_datepicker
{
    background-image: url('../images/calendar2.png');
	background-repeat: no-repeat;
	background-position: 205px 9px;
}
#main_timepicker
{
    background-image: url('../images/clock.png');
	background-repeat: no-repeat;
	background-position: 97px 9px;
}
.contactRadio
{
}
.contactRadio label
{
    font-size:16px;
    cursor:pointer;
    padding: 10px 50px 10px 0;
    display:inline-block;
}
.contactRadio input[type="radio"]
{
    padding: 10px !important;
    cursor: pointer;
    display: inline-block;
}
