<%@ Master Language="C#" %>
<%@ Register TagPrefix="uc" TagName="AppMenu" Src="~/AppMenu.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
  <link rel="icon" type="image/jpg" href="<%= Application["AppPath"] %>/images/favicon.png" /> 
  <link rel="shortcut icon" href="<%= Application["AppPath"] %>/images/favicon.png" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />	

	<script type="text/javascript" src="//use.typekit.net/dpl8smw.js"></script>
	<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

	<link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/StyleSheet.css" />
	<link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/newstyles.css" />
	<link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/appmenu.css" />
	<link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/pikaday.css" />
	 <!--[if IE 6]> <link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/IE6.css" />	 <![endif]-->
	 <!--[if lte IE 8]> <link rel="stylesheet" type="text/css" href="<%= Application["AppPath"] %>/css/IE8.css" />	 <![endif]-->
	<script type="text/javascript" src="<%= Application["AppPath"] %>/css/iepngfix_tilebg.js"></script> 
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" language="javascript"></script>
	<script type="text/javascript" src="<%= Application["AppPath"] %>/App.js"></script>
	<script type="text/javascript" src="<%= Application["AppPath"] %>/AppMenu.js"></script>
    
    <script>(function () {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
            }
        })();
                window._fbq = window._fbq || [];
                window._fbq.push(['track', '6019985589356', { 'value': '0.00', 'currency': 'USD' }]);
    </script>

    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6019985589356&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>


    <!-- Google Knowledge Graph JSON markup -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "InsuranceAgency",
      "name": "Blue Sky RV Insurance",
      "description": "Specialty RV Insurance for avid RV and Motorhome enthusiasts",
      "url": "http://www.blueskyrvinsurance.com/",
      "sameAs" : "https://www.facebook.com/blueskyrvinsurance",
      "logo" : "http://www.blueskyrvinsurance.com/images/bluesky_logo.png",
      "email": "sales@blueskyrvinsurance.com",
      "telephone": "866-484&#8211;BLUE (2583)",
      "address": {
	    "@type": "PostalAddress",
	    "addressLocality": "Copley, OH",
	    "postalCode": "44321",
	    "streetAddress": "202 Montrose West Avenue, Suite 200"
      },
      "branchOf":
      {
	    "@type": "FinancialService",
	    "url": "http://www.allstarfg.com/",
	    "name": "Allstar Financial Group"
      }
    }
    </script>

	<asp:contentplaceholder id="head" runat="server" />


</head>
<body>
    
  <form id="form1" runat="server" style="margin:20px 0px">
		<div class="page">
      <div class="container_top">
				<div id="SubmitQuote">
					<a href="<%= Application["AppPath"] %>/rv-insurance-quote-intro.aspx">
						<img src="<%= Application["AppPath"] %>/images/info.png" align="absmiddle" border="0">&nbsp; Get a <u>Free RV Insurance Quote Now!</u>
					</a>
				</div>
        <div class="home_logo"><a href="<%= Application["AppPath"] %>/default.aspx"></a></div>

				<!-- Website Menu -->

				<!-- Move to AppMenu.ascx -->
        <div class="menu_bg">
          <div class="menu_container">
		        <uc:appmenu ID="Appmenu1" runat="server" />
          </div>
        </div>

      </div> 

      <!-- Main Content Area -->
			<asp:contentplaceholder id="main" runat="server" />

			<div class="push"></div>
      <div class="footer">
				<table align="center">
					<tr>
						<td>
							<h2>about us</h2>
							<a href="<%= Application["AppPath"] %>">Home</a><br />
							<a href="<%= Application["AppPath"] %>/about-us">Company Information</a><br />
							<a href="<%= Application["AppPath"] %>/about-us/who-we-represent.aspx">Who We Represent</a><br />
							<a href="<%= Application["AppPath"] %>/about-us/license-numbers.aspx">Agency License Numbers</a>
							<br/><br/>
							<a href="https://www.facebook.com/blueskyrvinsurance" target="_blank"><img style="margin-top:6px" src="<%= Application["AppPath"] %>/images/facebook-icon.png" alt="Facebook" border="0" /></a>&nbsp;&nbsp;
							<a href="https://www.twitter.com/rvnation" target="_blank"><img style="margin-top:6px" src="<%= Application["AppPath"] %>/images/twitter-icon.png" alt="Twitter" border="0" /></a>
						</td>
						<td>
							<h2>coverages</h2>
							<a href="<%= Application["AppPath"] %>/rv-insurance-coverage">Overview</a><br />
							<a href="<%= Application["AppPath"] %>/rv-insurance-coverage/innovative">Innovative RV Insurance</a><br />
							<a href="<%= Application["AppPath"] %>/rv-insurance-coverage/specialty">Specialty RV Insurance</a><br />
							<a href="<%= Application["AppPath"] %>/rv-insurance-coverage/standard">Standard RV Insurance</a>
						</td>
						<td>
							<h2><a href="<%= Application["AppPath"] %>/recreational-vehicles">vehicles</a></h2>
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/motorhome-insurance.aspx">Class A Motorhome</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/mini-motorhome-insurance.aspx">Mini-Motorhome (Class C)</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/camper-van-insurance.aspx">Camper Van</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/bus-conversion-insurance.aspx">Bus Conversion</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/medium-duty-tow-vehicle-insurance.aspx">Medium Duty Tow Vehicle</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/toterhome-insurance.aspx">Toterhome</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/travel-trailer-insurance.aspx">Conventional Travel Trailer</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/fifth-wheel-insurance.aspx">Fifth Wheel Camper</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/pop-up-camper-insurance.aspx">Pop Up Camper</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/truck-camper-insurance.aspx">Truck Camper</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/park-model-travel-trailer-Insurance.aspx">Park Model Travel  Trailer</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/utility-trailer-insurance.aspx">Utility Trailer</a><br />
							<a href="<%= Application["AppPath"] %>/recreational-vehicles/personalauto-insurance.aspx">Personal Auto</a>
						</td>
						<td>
							<h2>misc</h2>
							<a href="<%= Application["AppPath"] %>/rv-nation">RV Nation</a><br />
							<a href="<%= Application["AppPath"] %>/rv-insurance-quote-intro.aspx">Request a Quote</a><br />
							<a href="<%= Application["AppPath"] %>/rv-insurance-claims">Claims</a><br />
                            <a href="<%= Application["AppPath"] %>/PrivacyPolicy.aspx">Privacy Policy</a>
						</td>
						<td>
							<h2><a href="<%= Application["AppPath"] %>/contact-us">contact us</a></h2>
							Blue Sky RV Insurance<br />
							202 Montrose West Avenue<br />
                            Suite 200<br />
							Akron, OH 44321<br /><br/>
							<div style="font-size:120%">
								866-484&#8211;BLUE (2583)<br />
								<a href="mailto:sales@blueskyrvinsurance.com">sales@blueskyrvinsurance.com</a>
							</div>
							<div id="BottomSubmitQuote">
								<a href="<%= Application["AppPath"] %>/rv-insurance-quote-intro.aspx">
									<img src="<%= Application["AppPath"] %>/images/info.png" align="absmiddle" border="0">&nbsp; Get a <u>Free RV Insurance Quote Now!		</a>
							</div>
						</td>
					</tr>
				</table>
      </div>
    </div>    
  </form>

	<script>
	    (function (i, s, o, g, r, a, m) {
	        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
	            (i[r].q = i[r].q || []).push(arguments)
	        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	    ga('create', 'UA-6620800-1', 'auto');
	    ga('require', 'displayfeatures');
	    ga('send', 'pageview');

    </script>
    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1026447193;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;"><img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1026447193/?value=0&amp;guid=ON&amp;script=0"/></div>
    </noscript>
</body>
</html>

